# NAMESPACE is MANUALLY MAINTAINED (audit ruling: do not run devtools::document())
export(new_pal_state)
export(format_pal)
export(parse_pal)
export(unfold_pal)
export(fold_pal)
export(validate_pal)
export(pal_to_jiugong)
export(jiugong_to_pal)
export(diamond_at)
export(diamond_field)
export(complement_pal)
export(mirror_addr)
export(locate)
export(pal_parse)
export(pal_encode)
export(closure_jiugong)
export(compute_jiugong)
export(register_operator)
export(gamma_field)
export(peel)
export(promote)
export(peel_chain)
export(carrier_11x11)
export(pal_pipe)
export(batch_compute)
export(interact)
S3method(print, visualr_pal)
S3method(print, visualr_jiugong)
S3method(print, visualr_diamond)
export(new_mapping_pack)
export(register_mapping_pack)
export(resolve_mapping_pack)
export(materialize)
export(closure_check)
export(transition_policy)
S3method(print, visualr_mapping_pack)
S3method(print, visualr_compute_result)
export(pal_to_square_view)
export(benchmark_storage)
export(concurrency_report)
export(pal_compact)
